// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-spinner {
  position: fixed;
  right: 100px;
  top: 60px;
  z-index:10000;
  display:none;
}

.social-fields {
  border: solid 1px #eee;
  border-radius:5px;
  padding: 5px 10px 5px 10px;
  margin: 10px 0 5px;
}