// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-image-thumnail {
  width: 180px;
  margin: 5px;
  border: solid 5px #333;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
    border: solid 5px #680000;
  }
}

.artist-cover-photo img{
  height: 300px;
  border: solid 5px #333;
  border-radius: 3px;
  margin-bottom: 30px;
  &:hover {
    border: solid 5px #680000;
  }

}

h2 a{
  font-family:trajan;
  font-size: 48;
  color:#eee;
  &:hover {
    color: #680000;
  }
}

