// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-image-thumnail {
  width: 180px;
  margin: 5px;
  border: solid 5px #333;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
    border: solid 5px #680000;
  }
}

.artist-cover-photo { 
  & a img{
    height: 300px;
    min-width: 80%;
    border: solid 5px #333;
    border-radius: 3px;
    margin-bottom: 30px;
    text-align: center;
    &:hover {
      border: solid 5px #680000;
    }
  }
  & .artist-name{
    text-align: center;
    position: relative;
    top: 180px;
    z-index: 10; 
    max-width: 78%;
    font-family:trajan;
    font-size: 68;
    color:#eee;
    text-shadow: 3px 3px 4px rgba(20,20,20,0.5);
  }
}



