$nav_height: 100px;
.buffer {
  margin-top: $nav_height;
}
body {
  padding-top: 70px;
  background: url(/assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: quicksand;
  src: url(/assets/quicksand/Quicksand-Light.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: trajan;
  src: url(/assets/TrajanPro-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

.bookmark {
  display:block;
  background: url(/assets/bookmark.png) center no-repeat;
  margin: -110px 0 30px 0;
  padding: 80px 0 30px 0;
  width:400px;
  position: relative;
  left:200px;
  & .page-title{
    display:block;
    // background:#333 url(/assets/plaque.jpg) center no-repeat;
    width: 335px;
    height:115px;
    position:relative;
    top: -60px;
    left:35px;

    & h1 {
      color: #222;
      font-family:trajan;
      font-size:75px;
      padding: 40px 0 5px;
      text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    }
  }
}

h1, h2, h3 {
  font-family:trajan;
}
.mycontainer {
  width: 950px;
}
.main-logo {
  // height:120px;
  // width:580px;
  padding-left: 100px;
}
.menu{
  
  height:$nav_height;
  & ul {
    list-style-type:none;
    margin:0;
    padding:0;
    top: 60px;
    right: 100px;
    position:relative;
    & li {
      & a {
        color: #ddd;  
        &:hover {text-decoration:none}
      }
      font-family:quicksand;
      font-size: 20px;
      display:inline;
      margin:0 20px 0 20px;
      padding:100px 10px 36px 10px;
      &:hover{
        background: #680000;
      }
    }
  }
}

.social-media {
  margin-top: 10px;
  & ul {
    list-style-type:none;
    position:relative;
    left: 230px;
    & li {
      display:inline;
      margin:0 25px 0 25px;
      & a img{
          background: #EEE;
          border-radius: 5px;
          border: solid -3px;
        &:hover{
          background: #680000;
        }
      }
    }
  }
}
.copyright {
  position: relative;
  top: 10px;
  padding-bottom:20px;
  & a {
    color: #680000;
  }
}