// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.artist-profile-image {
  width: 150px;
  padding: 5px;
  margin: 5px 5px 20px 5px;
  & img{
    width: 150px;
    max-height: 150px;
    border: 3px solid #333;
    border-radius: 3px;
    &:hover {
      border:3px solid #680000;
      cursor: pointer;
    }
  }
}

.images {
  margin: 0 0 20px 0;
}

.cover-photo, .remove-photo, .close {
  margin: 2px 0 2px 0;
}

.spinner {
  position:relative;
  bottom: 25px;
  display:none;
}
#profile-spinner {
  background: url(lightbox/loading.gif) center no-repeat;
  z-index:30;
  position: relative;
  bottom: 90px;
  left:65px;
  width:30px;
  height:30px;
  display:none;

}
.upload-profile-form {
  display:none;
}
.profile-pic img{
  width: 150px;
  height: 150px;
  border: 3px solid #333;
  border-radius: 3px;
  margin: 5px;
}
.btn-edit {
  width: 14px;
  height:16px;
  z-index:20;
  position:relative;
  top:25px;
  left: 135px;
  &:hover {
    color: #680000;
    cursor: pointer;
  }
}