.bookmark
  .page-title
    %h1.text-center Profile

.row
  .col-lg-12
    %p= "Welcome, #{@user.first_name}!"
    
    - if @user.isArtist
      - @user.images.each do |img|
        .artist-profile-image
          = image_tag img.tag_path
    %input{:type => "file", :id => "artist-image-upload", 'data-user-id' => "#{@user.id}"}
